<!DOCTYPE html>
<html lang="en"  xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of all plants</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark static-top">

</nav>

<!-- Page Content -->
<div class="container">
    <table class="table">
        <h1 th:text = "$list.title"></h1>
        <td><a th:href="@{/putanja za add plant}" class="btn success">Add plant to list</a></td>
        <thead>
        <tr>
            <th scope="col">Family</th>
            <th scope="col">Species</th>
            <th scope="col">Habitat</th>
            <th scope="col=2"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "plant: ${plantList}" >
            <td th:text = "${plant.family}"></td>
            <td th:text = "${plant.species}" ></td>
            <td th:text = "${plant.habitat}"></td>
            <td><a th:href ="@{/userList/update/{id}(id=${list.userListId})}"class="btn btn-primary">Remove</a></td> ispravit putanju
        </tr>
        </tbody>

    </table>

</div>


<footer id="sticky-footer" class="flex-shrink-0 py-4 text-white-50">
    <div class="container text-center">
        <small>Copyright &copy; Online Herbarium</small>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/static/scripts/navbar.js"></script>
</body>
</html>