<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Selected projection</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body style="background-color:lightgrey;">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</nav>
<br>
<br>
<div class="container">
    <div class="text-center text-primary">
        <h1>Seats</h1>
    </div>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Hall</th>
            <th scope="col">Movie</th>
            <th scope="col">Seat number</th>
            <th scope="col">Seat status</th>

        </tr>

        </thead>
        <tbody>
        <th class="text-center"  th:text="${projection.date}"></th>
        <th class="text-center"  th:text="${projection.startTime}"></th>
        <th class="text-center"  th:text="${projection.hall.name}"></th>
        <th class="text-center"  th:text="${projection.movie.name}"></th>
        <tr th:each = "seat: ${projection.seatList}" >
            <td th:text="${seat.seatNumber}" ></td>
            <td th:text="${seat.status}"></td>
        </tr>
        </tbody>
    </table>
    <div  class=" position-absolute bottom-0 end-0">
        <a th:href="@{/ticket}" class="btn btn-primary">Make your ticket</a>
    </div>
</div>
</body>
</html>