<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Online ticket shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body style="background-color:lightgrey;">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <h1>Our cinema!</h1>
        </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</nav>
</nav>
<br>
<br>
<div class="container">
    <div class="text-center text-primary">
        <h1> Tickets </h1>
    </div>
    <br>
    <table class="table">

        <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col" >Date</th>
            <th scope="col">Start time</th>
            <th scope="col">Hall</th>
            <th scope="col">Movie</th>
            <th scope="col">Ticket number</th>
            <th scope="col"></th>
            <th scope="col"></th>


        </tr>
        </thead>
        <tbody>
        <tr th:each = "ticket: ${tickets}" >
            <td th:text = "${ticket.user.username}" ></td>
            <td th:text = "${ticket.projection.date}"></td>
            <td th:text = "${ticket.projection.startTime}"></td>
            <td th:text = "${ticket.projection.hall.name}"></td>
            <td th:text = "${ticket.projection.movie.name}"></td>
            <td th:text = "${ticket.number}"></td>
            <td th:text = "@/{{username}(username =${ticket.user.username})}}" class="btn btn-primary">User's tickets</td>
            <td><a th:href ="@{/ticket/delete/{id}(id=${ticket.ticketId})}" class="btn btn-danger">Delete ticket</a></td>
        </tr>
        </tbody>

    </table>
</div>
</body>
</html>