body {
    background: #427a5e;
    background: linear-gradient(to right, #58a67f, #6bc99a);
}

.card-img-left {
    width: 45%;
    /* Link to your background image using in the property below! */
    background: scroll center url("/static/images/registerPlant.jpg");
    background-size: cover;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}
